body {
  margin: 0;
  font-family: system-ui,-apple-system,"Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", sans-serif, Arial;
}
.primary-btn {
  color: #fff;
  background: #0d6efd;
  border-color: #0d6efd;
}
.primary-btn:hover {
  background: #0b5ed7;
  border-color: #0a58ca;
}
.primary-btn:active {
  color:#fff;
  background:#0a58ca;
  border-color:#0a53be;
}
.btn {
  -webkit-transition: all 2s ease-out;
  -moz-transition: all 2s ease-out;
  -o-transition: all 2s ease-out;
  transition: all 2s ease-out;
  border-radius: 5px;
  padding: 8px;
  transition: all .35s;
}

.zoom {
  transition: transform .25s;
}

.zoom:hover {
  transform: scale(1.25);
}
