:root {
  --ss-white: #fff;
}
body {
  margin: 0;
  font-family: system-ui,-apple-system,"Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", sans-serif, Arial;
}
.primary-btn {
  --ss-btn-color: var(--ss-white);
  --ss-btn-bg: #0d6efd;
  border-color: #0d6efd;
  transition: all .35s;
}
.primary-btn:hover {
  --ss-btn-color: var(--ss-white);
  background: #0b5ed7;
  border-color: #0a58ca;
}
.primary-btn:active {
  color: #fff;
  background: #0a58ca;
  border-color: #0a53be;
}
.white-btn {
  color: #000;
  backgrouund: #f8f9fb;
  border-color: #f8f9fb;
}
.white-btn:hover {
  color: #000;
  background: #d3d4d5;
  border-color: #c6c7c8;
}
.white-btn:active {
  color: #000;
  background: #c6c7c8;
  border-color: #babbbd;
}
.btn {
  -webkit-transition: all 2s ease-out;
  -moz-transition: all 2s ease-out;
  -o-transition: all 2s ease-out;
  transition: all 2s ease-out;
  border-radius: 5px;
  padding: 8px;
  transition: all .35s;
  color: var(--ss-btn-color);
  background: var(--ss-btn-bg);
}
.zoom {
  transition: all .25s;
}
.zoom:hover {
  transform: scale(1.25);
}
